* {
    font-family: Tahoma, Arial;
}
.main{
    width: 1000px;
    height: 640px;
    position: relative;
}

.battlefield{
    width: 1000px;
    height: 640px;
    background: url("./images/empty.jpg") no-repeat;
    background-position: -440px -190px;
}

.battlelist{
    margin: 0 auto;
    width: 500px;
}

.headline{
    width: 500px;
    height: 80px;
    background: url('./images/top.png') no-repeat;
}

.body{
    min-height: 300px;
    width: 500px;
    background: url('./images/clanes.png') repeat-y;
    max-height: 500px;
    overflow-y: auto;
}

.footer{
    width: 500px;
    height: 41px;
    background: url('./images/bottom.png') repeat-y;
}

.body table{
    width: 100%;
    padding: 0 40px;
}

.body table td{
    line-height: 40px;
    height: 40px;
    padding: 0;
    color: #82461e;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 230px;
    cursor: pointer;
}

.victory{
    width: 40px;
    height: 40px;
    background: url('images/sword.png') no-repeat;
    background-position: center;
}

.defeat{
    width: 40px;
    height: 40px;
    background: url('images/shield.png') no-repeat;
    background-position: center;
}

.hidden{
    display: none;
}

.battleGrid{
    width: 1000px;
    height: 640px;
}

.castle{
    width: 80px;
    height: 80px;
    background-color: RGBA(1, 0, 0, .5);
}

.castle19{
    background: url('./images/castle/19.png') no-repeat;
}

.castle18{
    background: url('./images/castle/18.png') no-repeat;
}

.castle17{
    background: url('./images/castle/17.png') no-repeat;
}

.castle16{
    background: url('./images/castle/16.png') no-repeat;
}

.castle15{
    background: url('./images/castle/15.png') no-repeat;
}

.castle14{
    background: url('./images/castle/14.png') no-repeat;
}

.castle13{
    background: url('./images/castle/13.png') no-repeat;
}

.castle12{
    background: url('./images/castle/12.png') no-repeat;
}

.castle11{
    background: url('./images/castle/11.png') no-repeat;
}

.castle10{
    background: url('./images/castle/10.png') no-repeat;
}

.castle9{
    background: url('./images/castle/9.png') no-repeat;
}

.castle8{
    background: url('./images/castle/8.png') no-repeat;
}

.castle7{
    background: url('./images/castle/7.png') no-repeat;
}
.castle6{
    background: url('./images/castle/6.png') no-repeat;
}

.castle5{
    background: url('./images/castle/5.png') no-repeat;
}

.castle4{
    background: url('./images/castle/4.png') no-repeat;
}

.castle3{
    background: url('./images/castle/3.png') no-repeat;
}

.castle2{
    background: url('./images/castle/2.png') no-repeat;
}

.castle1{
    background: url('./images/castle/1.png') no-repeat;
}

.a1{
    position: absolute;
    top: 325px;
    left: 154px;
}

.a2{
    position: absolute;
    top: 377px;
    left: 257px;
}

.a3{
    position: absolute;
    top: 431px;
    left: 364px;
}

.a4{
    position: absolute;
    top: 482px;
    left: 469px;
}
.b1{
    position: absolute;
    top: 273px;
    left: 259px;
}

.b2{
    position: absolute;
    top: 325px;
    left: 364px;
}

.b3{
    position: absolute;
    top: 378px;
    left: 469px;
}

.b4{
    position: absolute;
    top: 429px;
    left: 573px;
}

.c1{
    position: absolute;
    top: 219px;
    left: 363px;
}

.c2{
    position: absolute;
    top: 271px;
    left: 468px;
}

.c3{
    position: absolute;
    top: 324px;
    left: 574px;
}

.c4{
    position: absolute;
    top: 377px;
    left: 680px;
}

.d1{
    position: absolute;
    top: 168px;
    left: 468px;
}

.d2{
    position: absolute;
    top: 219px;
    left: 572px;
}

.d3{
    position: absolute;
    top: 272px;
    left: 679px;
}

.d4{
    position: absolute;
    top: 324px;
    left: 785px;
}

.e1{
    position: absolute;
    top: 115px;
    left: 574px;
}

.e2{
    position: absolute;
    top: 167px;
    left: 679px;
}

.e3{
    position: absolute;
    top: 221px;
    left: 783px;
}

.e4{
    position: absolute;
    top: 272px;
    left: 889px;
}

.level {
    background: url(images/star.png) no-repeat;
    position: absolute;
    color: #66361b;
    font-weight: bold;
    font-family: arial;
    line-height: 27px;
    height: 27px;
    vertical-align: middle;
    display: inline-block;
    bottom: 7px;
    left: -8px;
    width: 25px;
    font-size: 11px;
    text-align: center;
}

.castleLevel {
    background: radial-gradient(closest-corner at 10px 5px , #FFF 0%, transparent 46%), linear-gradient(to bottom, #bc0101, #570305);
    border-radius: 100%;
    display: inline-block;
    color: #f1c88d;
    padding: 3px;
    border: 2px solid #444;
    font-family: tahoma;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top: 67px;
    left: -23px;
    text-shadow: 1px 1px 1px #000;
    z-index: 2;
    width: 17px;
    height: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 17px;
}

.name {
    position: absolute;
    top: 69px;
    left: -8px;
    z-index: 0;
    color: #f1c88d;
    border: solid 2px #575861;
    padding: 1px 3px 3px 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 97px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 12px;
}

.back {
    position: absolute;
    top: 30px;
    left: 100px;
    background: url('images/button2.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    color: #fff;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
    padding: 5px 51px 5px 10px;
    display: none;
}

.hamburger{
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
}

.hamburger hr{
    color: #fff;
    background: #fff;
    border: 1px solid #fff;
    padding: 0;
    margin: 5px 0;
    width: 30px;
}

.screenshot{
    position: absolute;
    top:-10000px;
    left: -10000px;
    z-index: 12;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px 5px silver;

}

.clickable{
    cursor: pointer;
}

.blackVeil{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .6);
    z-index: 10;
}

.outerSpinner{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-top: 3px solid pink;
    border-bottom: 3px solid pink;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    -webkit-animation:spin 4s linear infinite ;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    animation-direction: reverse;
    margin: 0 auto;
}

.innerSpinner{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-left: 3px solid pink;
    border-right: 3px solid pink;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    background-color: white;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.questionMark{
    background: url('images/question_mark.png') no-repeat;
    width: 206px;
    height: 206px;
    position: absolute;
    top: 0;
    left: 0;
}

.questionMark.e1{
    top: 59px;
    left: 509px;
}
.questionMark.e2{
    top: 112px;
    left: 618px;
}
.questionMark.e3{
    top: 162px;
    left: 721px;
}
.questionMark.e4{
    top: 215px;
    left: 828px;
}
.questionMark.d1{
    top: 111px;
    left: 407px;
}
.questionMark.d2{
    top: 163px;
    left: 510px;
}
.questionMark.d3{
    top: 218px;
    left: 619px;
}
.questionMark.d4{
    top: 267px;
    left: 722px;
}
.questionMark.c1{
    top: 163px;
    left: 300px;
}
.questionMark.c2{
    top: 215px;
    left: 407px;
}
.questionMark.c3{
    top: 268px;
    left: 511px;
}
.questionMark.c4{
    top: 320px;
    left: 617px;
}
.questionMark.b1{
    top: 215px;
    left: 196px;
}
.questionMark.b2{
    top: 267px;
    left: 301px;
}
.questionMark.b3{
    top: 321px;
    left: 408px;
}
.questionMark.b4{
    top: 372px;
    left: 514px;
}
.questionMark.a1{
    top: 269px;
    left: 92px;
}
.questionMark.a2{
    top: 320px;
    left: 195px;
}
.questionMark.a3{
    top: 373px;
    left: 299px;
}
.questionMark.a4{
    top: 426px;
    left: 406px;
}

.enlarge{
    background: rgba(255, 255, 255, .5) url(./images/enlarge.png) no-repeat;
    width: 72px;
    height: 72px;
    bottom: 60px;
    right: 30px;
    border-radius: 5px;
    position: absolute;
    z-index: 15;
    border: 2px solid #000;
    background-position: center;
    opacity: .5;
}

.enlarge:hover{
    opacity: 1;
}